/* 
ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    list-style: none;
}
#Cartaz{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-block: 40px 100px;
}
#Cartaz h2{
    font-size: 2.2rem;
    text-align: center;
}
#Cartaz img{
    width: 44px;
    height: 44px;
}

img{
    width: 300px;
    height: 450px;
    border-radius: 5px;
}

.ListaFilmes {
    font-size: 3rem;
    display: flex;
    justify-content: center;
} */

ul {
    display: grid;
    justify-items:center;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding-left: 0;
    
}
#liHome {
    max-width: 170px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
li p{
    color: white;
    text-align: center;
    margin-top: 4px;
    font-size: 1.3rem
}
li button {
    display: flex;
    justify-self: end;
    border: 1px solid red;
    background-color:rgba(0, 0, 0, 0.387);
    padding: 2px 9px;
    margin-top: 9px;
    border-radius: 16px;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
}

li img {
    width: 170px;
    height: 245px;
    box-shadow: .1px .1px 10px black;  
    border-radius: 6px;
    border: 2px solid white
}
#Cartaz {
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 10px;
    margin-block: 50px 30px;
}

#Cartaz h2{
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
}

#Cartaz img {
    width: 44px;
    height: 44px;
    
}


#LoadingGIF {
    width: 250px;
    height: 200px;
    margin: auto;
}

@media (min-width: 910px){
    ul{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px){

    #Cartaz {
        margin-left: 105px;
    }
    li img{
        width: 265px;
        height: 355px;
    }
}