.lista-precos{
    display: flex;
    justify-content: center;
    

}
.lista-precos li{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

}
.lista-precos li div{
    background-color: wheat;
    padding-top: 20px;
    border-radius: 10px;
    padding-inline: 30px;
    width: 280px;
    height: 350px
}
.lista-precos p{
    color: black;
    font-size: 1.5rem;
}

#Precos h2{
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
}

#Precos img {
    width: 44px;
    height: 44px;
    
}